#react-mvp .hero-header {
  color: white;
  padding: 10em 5em;
  background-image: url('./assets/background.png');
}

#react-mvp .hero-header__container > h1 {
  font-size: 4em;
}

#react-mvp .hero-header__container > h1, #react-mvp .hero-header__container > h2 {
  display: inline;
  font-family: 'Roboto';
  font-weight: bolder;
  letter-spacing: 0.1em;
}
