#react-mvp .hero-header {
  color: white;
  background-image: url('./assets/background.png');
  padding: 3em 0 5em;
}

#react-mvp .hero-header__container > h1 {
  font-size: 4em;
}

#react-mvp .hero-header__container > h1, #react-mvp .hero-header__container > h2 {
  font-weight: bolder;
  letter-spacing: 0.1em;
  margin: 0;
}
