* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

html, body, #root {
  height: 100%;
}

/* GRID */

.grid-container {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
  width: 100%;
}

.layout-full-height {
  height: 100%;
}
