:root {
  /* COLORS */

  --primaryColorLight: #7CABBF;
  --primaryColor: #245066;
  --primaryColorDark: #16303D;

  --secundaryColorLight: #D9D9D9;
  --secundaryColor: #868F91;

  --accentColor: #88C647;
  --accentColorDark: #2D8019;
  --accentColor2: #EF5F98;

  --warningColor: #C54141;
  --warningColorDark: #9C2E2E;

  --baseColor: #F9F9F9;
  --baseColorDark: #000000;
}
